body {
    display: flex;
    justify-content: center;
    padding-top: 140px
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: #1B244A;

}







.all {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}


h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

.score-tabl {
    background-color: black;
    width: 155px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;


}

.scores {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;

}

button {
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    cursor: pointer;

}